<div ng-controller="DrawCtrl as draw" id="drawingApp">
  <h1>Search By Drawing!</h1>
  <div id="drawingArea">
  <ul id="topToolbar">
    <li class="icon icon-pencil" ng-click="draw.setTool('pencil')"></li>
    <li class="icon icon-pen" ng-click="draw.setTool('neighborPoints')"></li>
    <li class="icon icon-point-up"></li>
    <li class="icon icon-new" ng-click="draw.clearCanvas()"></li>
    <li class="icon icon-undo" ng-click="draw.undoState()"></li>
    <li class="icon icon-redo" ng-click="draw.redoState()"></li>
    <li class="icon {{topBtn.icon}}" ng-repeat="topBtn in draw.topBtns"></li>
  </ul>
  <canvas ds-drawing id="myCanvas" width="600" height="500" tool="draw.tool"></canvas>
  <input id="selectColor" colorpicker="rgb" type="text" ng-model="draw.color" placeholder="select a color."/>
  <slider id="selectLineWith" ng-model="draw.lineWith" floor="1" ceiling="50" step="1" precision="2"></slider>
  </div>
</div>
