<div ng-controller="DrawCtrl as draw" id="drawingApp">
  <h1>Search By Drawing!</h1>
  <div id="drawingArea">
  <ul id="topToolbar">
    <li class="icon icon-pencil" ng-click="draw.setTool('pencil')"></li>
    <li class="icon icon-pen" ng-click="draw.setTool('neighborPoints')"></li>
    <li class="icon icon-point-up" ng-click="draw.setStrokeStyle('#4bf')"></li>
    <li class="icon icon-new" ng-click="draw.clearCanvas()"></li>
    <li class="icon icon-undo" ng-click="draw.undoState()"></li>
    <li class="icon icon-redo" ng-click="draw.redoState()"></li>
    <li class="icon {{topBtn.icon}}" ng-repeat="topBtn in draw.topBtns"></li>
  </ul>
  <canvas ds-drawing id="myCanvas" width="600" height="500" tool="draw.tool"></canvas>
  </div>
</div>
