@font-face {
	font-family: "myfont";
	src: url('../static/fonts/Icons/myfont.eot');
	src: url('../static/fonts/Icons/myfont.eot?#iefix') format('eot'),
		url('../static/fonts/Icons/myfont.woff') format('woff'),
		url('../static/fonts/Icons/myfont.ttf') format('truetype'),
		url('../static/fonts/Icons/myfont.svg#myfont') format('svg');
}

.icon:before {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-new:before {
	content: "\E001";
}

.icon-pen:before {
	content: "\E002";
}

.icon-pencil:before {
	content: "\E003";
}

.icon-point-up:before {
	content: "\E004";
}

.icon-redo:before {
	content: "\E005";
}

.icon-undo:before {
	content: "\E006";
}
