#drawingApp {
  @include center-block();
  width: 600px;
  height: 500px;
}

#drawingArea {}


  h1 {
    margin-bottom: 6%;
    padding-top: 3%;
    font-size: $h1-fontsize;
    font-weight: inherit;
    text-align: center;
  }

  canvas {
    @include linear-gradient(#fffde9, #fff5b7);
    cursor: crosshair;
  }

  slider {
    font-size: 2rem;
  }


#topToolbar {
  @include my-horizontal-list();
  margin-bottom: 5px;

  li {
    @include circular-tool();

    &:last-child {
      margin-right: 0;
    }
  }

}

#selectColor {
  input::-webkit-input-placeholder {
   font-size: 10px;
   font-color: black;
  }
}
