//COLOR
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

//FONT
@mixin fontstyle($color, $font-size, $font-weight) { //unused
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

//LAYOUT
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin page-wrap-footer-css($negativeFooterHeight) {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto $negativeFooterHeight; //the bottom margin is the negative value of the footer's height
}

@mixin my-horizontal-list() {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;

  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
  }

}

//TOOLS
@mixin circular-tool() {
  width: 30px;
  height: 30px;
  border: 3px;
  border-style: solid;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 2.5rem;
  text-align: center;

  &:hover {
    border-color: red;
  }
}


//MISC
@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
